<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.RexIndustries.particles"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Particles with Objects!</name>

    <description>
        Particles with Objects!
    </description>

    <author href="http://www.rextwedt.com" email="retwedt@gmail.com">
        Rex Twedt III 
    </author>

    <!--Plug-ins-->
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
</widget>